{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ProBet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navBar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">ProBet</a>
                <a class="navbar-brand" href="mainSocialPage.html">Social Betting</a>
            </div>
            <p class="navbar-btn navbar-right">
                <a href="signup.html" class="btn btn-primary">Sign up</a>
            </p>
            <script>
                function signInAttempt() {
                    var success = 1;
                    var container = $('#navBar');
                    if (success) {
                        container.empty();
                        container.append('<a class="navbar-brand" href="index.html">ProBet</a><a href="updateProfile.html" class="navbar-right navbar-text"><button class="btn btn-outline-success" type="button">Adahan Yalçınkaya</button></a>');
                    }

                }
            </script>
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="number" placeholder="TCKN" min="10000000000" max="99999999999" class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" required>
                </div>
                <button type="submit" onclick="signInAttempt()" class="btn btn-success">Sign in</button>
            </form>
        </div>
    </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to ProBet!</h1>
        <p>ProBet is an online betting system where you can share your bet slips</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <script>
                function showFootballTable() {
                    $("table thead").empty();
                    $("table thead").append("<tr><th scope='col'>ID</th><th scope='col'>Time</th><th scope='col'>League</th><th scope='col'>Home</th><th scope='col'>Away</th><th scope='col'>1</th><th scope='col'>X</th><th scope='col'>2</th><th scope='col'>2.5A</th><th scope='col'>2.5Ü</th><th scope='col'>+</th><th scope='col'>Social</th></tr>");
                    $("table tbody").empty();
                    $("table tbody").append(" <tr> <th scope='col'>161</th><td scope='col'>18.00</td><td scope='col'>RUS</td><td scope='col'>Akhmat Grozny</td><td scope='col'>CSKA Moskova</td><td scope='col'>3.05</td><td scope='col'>2.60</td><td scope='col'>2.05</td><td scope='col'>1.30</td><td scope='col'>2.30</td><td scope='col'>+38</td><td scope='col'>Social</td></tr> ");

                }

                function showBasketballTable() {
                    $("table thead").empty();
                    $("table thead").append("<tr><th scope='col'>ID</th><th scope='col'>Time</th><th scope='col'>League</th><th scope='col'>Home</th><th scope='col'>Away</th><th scope='col'>1</th><th scope='col'>X</th><th scope='col'>2</th><th scope='col'>2.5A</th><th scope='col'>2.5Ü</th><th scope='col'>+</th><th scope='col'>Social</th></tr>");
                    $("table tbody").empty();
                    $("table tbody").append(" <tr> <th scope='col'>161</th><td scope='col'>18.00</td><td scope='col'>NBA</td><td scope='col'>Los Angeles Lakers</td><td scope='col'>Miami Heat</td><td scope='col'>3.05</td><td scope='col'>2.60</td><td scope='col'>2.05</td><td scope='col'>1.30</td><td scope='col'>2.30</td><td scope='col'>+38</td><td scope='col'>Social</td></tr> ");

                }
            </script>
            <table class="table table-hover">
                <thead>
                <tr>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Time</th>
                    <th scope="col">League</th>
                    <th scope="col">Home</th>
                    <th scope="col">Away</th>
                    <th scope="col">1</th>
                    <th scope="col">X</th>
                    <th scope="col">2</th>
                    <th scope="col">2.5A</th>
                    <th scope="col">2.5Ü</th>
                    <th scope="col">+</th>
                    <th scope="col">Social</th>
                </tr>
                </thead>
                <tbody>
                <a>
                    <button onclick="showFootballTable()" type="button" class="btn btn-success" id="footballButton">
                        Football
                    </button>
                </a>
                <a>
                    <button onclick="showBasketballTable()" type="button" class="btn btn-success" id="basketballButton">
                        Basketball
                    </button>
                </a>
                <tr>
                    <th scope="col">161</th>
                    <td scope="col">16.00</td>
                    <td scope="col">RUS</td>
                    <td scope="col">Akhmat Grozny</td>
                    <td scope="col">CSKA Moskova</td>
                    <td scope="col"><a>3.05</a></td>
                    <td scope="col"><a onclick="addOddtoBetSlip()" id="footballButton"> 2.60</a></td>
                    <td scope="col"><a>2.05</a></td>
                    <td scope="col"><a>1.30</a></td>
                    <td scope="col"><a>2.30</a></td>
                    <td scope="col">+38</td>
                    <td scope="col">2 likes</td>
                </tr>
                <tr>
                    <th scope="col">163</th>
                    <td scope="col">18.00</td>
                    <td scope="col">SSL</td>
                    <td scope="col">Alanyaspor</td>
                    <td scope="col">Kayserispor</td>
                    <td scope="col"><a>1.80</a></td>
                    <td scope="col"><a>3.00</a></td>
                    <td scope="col"><a>3.20</a></td>
                    <td scope="col"><a>1.60</a></td>
                    <td scope="col"><a>1.75</a></td>
                    <td scope="col">+74</td>
                    <td scope="col">4 likes</td>
                </tr>
                <tr>
                    <th scope="col">164</th>
                    <td scope="col">19.00</td>
                    <td scope="col">CEK</td>
                    <td scope="col">MFK Karvina</td>
                    <td scope="col">Slavia Prag</td>
                    <td scope="col"><a>7.00</a></td>
                    <td scope="col"><a>4.00</a></td>
                    <td scope="col"><a>1.25</a></td>
                    <td scope="col"><a>1.75</a></td>
                    <td scope="col"><a>1.60</a></td>
                    <td scope="col">+19</td>
                    <td scope="col">25 likes</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function addOddtoBetSlip() {
            var container = $('#appendHere');
            container.append(" <li class='list-group-item'><a href=''>Akhmat Grozny - CSKA Moskova</a> <a>   <button onclick ='removeOdd()' type='button' class='btn btn-danger' id='removeOddButton'>Remove </button>    </a>  <br/>2.60</li> ");
        }
    </script>
    <div class="row">
        <div class="col-md-12">
            <h2>Your Slip</h2>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <div id="appendHere">
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Latest posts</h2>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for row in postList %}
                        <li class="list-group-item">
                            <a href="customers/?id={{ row.0 }}">{{ row.1 }}</a> shared: {{ row.2 }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>CS 353 Term Project | Group 15 | 2018</p>
    </footer>
</div> <!-- /container -->
<script src="js/vendor/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>