{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Team</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<style>
	body {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	</style>
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 img">
				<img src="{% static 'images/TeamPictures/' %}{{ team.5 }}" alt="" class="img-rounded">
    		</div>
				<div class="col-md-6">
					<p>
						<strong>{{ team.1 }}</strong> <br>
						<strong>Country: </strong>{{ team.4 }} <br>
						{{ team.2 }} <br>
						<strong>Place: </strong>{{ team.3 }} <br>
					</p>
					<button class="btn btn-primary">View statistics</button>
				</div>
			</div>
		</div>
</body>

</html>