{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Suggestion</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<style>
		body {
			padding-top: 50px;
			padding-bottom: 20px;
		}
	</style>
</head>

<body>
{% include "frontend/navbar.html" %}
<div class="container">
	<form method="POST">
		{% csrf_token %}
		<h2>Write suggestion</h2>
		<div class="form-group">
			<label for="matchID">Game ID</label>
			<input name="gameID" type="text" maxlength="5" class="form-control" id="matchID" placeholder="ID">
		</div>
		<div class="form-group">
			<label for="comment">Your suggestion</label>
			<textarea class="form-control" name="suggestion" id="comment" rows="3"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Send</button>
	</form>
	{% include "frontend/footer.html" %}
</div>
</body>

</html>